@media (color) {
  :root {
    background: linen;
    color: #123;
  }

  ::selection {
    background: aqua;
    color: #111;
  }

  :link,
  :visited {
    color: #808;
  }

  :focus {
    outline-color: #505;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #123;
    color: linen;
  }

  :link,
  :visited {
    color: hotpink;
  }

  :focus {
    outline-color: pink;
  }
}

html { font: 2em sans-serif }
body { margin: 1em }
h1 { font: inherit }
