:any-link {
  display: inline-block;
  padding: 1ex 1ch;
}

:focus {
  outline: thick inset;
  text-decoration-skip-ink: all;
}

:any-link:hover {
  text-decoration-style: double;
}

html {
  font-family: sans-serif;
  font-size: max(3ch, 1em + .2vmin + .8vmax);
}

body {
  display: flex;
  flex-flow: column;
  line-height: 1.61803399;
  margin: 0;
  overflow-wrap: anywhere;
  padding: 0 1em;
}

header {
  contain: layout;
  display: flow-root;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
}

a.ooze {
  box-shadow: 0 0 2pc 1pc var(--oooo);
  display: inline-flex;
  margin-inline-end: 2pc;
  margin-block-end: 3pc;
}

.eq > a {
  margin: 0;
}

.eq {
  contain: layout;
  display: flex;
  flex-flow: column;
  gap: 1.618em;
}

.sponge {
  border-radius: 8em 5em;
  border-radius: 50% 33%;
  box-shadow: 0 0 1ex 1pc var(--oooo);
  font-size: 1.236em;
  font-weight: bold;
  letter-spacing: .5ex;
  margin-bottom: -1ex;
  margin-top: 1ex;
  margin-left: auto;
  margin-right: 10vw;
  padding: 1ex;
  float: inline-end;
  transform: rotate(-20deg);
}

* { box-sizing: border-box }
body { --hi: 1.236em }
h1 em { font: unset }
h1 { font-size: 2em; margin: 1em auto 1em 0 }
h2 { font-size: 1.382em }
li { margin-block: 1em }

footer {
  margin: 5rem auto;
  max-width: 30em;
}

article {
  contain: layout;
  margin: 5rem auto;
  max-width: 50em;
}

article a { padding: 1rem }
article h2 { font-weight: unset }

main {
  margin: -2em 0 0;
  padding: 1em;
}

.alfabetz {
  align-items: flex-start;
  clear: both;
  display: flex;
  flex-flow: column;
  font-weight: unset;
  margin: 3em auto;
}

.blocparty {
  display: inline-block;
}

@media (min-width: 36em) {
  body { --hi: 1.618em }
  h1 { font-size: 2.618em }
  h2 { font-size: 1.618em }
  p { font-size: 1.236em }
}

@media (orientation: portrait) {
  footer,
  article { padding-inline-start: 2pc }
  h1 b { font-size: var(--hi) }
  .cape.cape { display: none }
}

@media (orientation: landscape) {
  footer,
  article { padding-inline-start: 2ch }
  h1 em { font-size: var(--hi) }
  .port.port { display: none }
}
