.dew-diy {
  --dew-solar: peachpuff;
  --dew-lunar: #123;
}

:root {
  font-family: monospace;
  font-size: calc(1ex + 1vw + 1vh);
}

svg {
  max-width: 100%;
  height: auto;
}

header {
  font-size: 2em;
  margin-block-end: 1em;
}

a {
  text-decoration-style: solid;
  text-decoration-thickness: .3ex;
}

dfn {
  font-style: inherit;
}

em {
  font-style: inherit;
  font-weight: bolder;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 2em;
  overflow-wrap: anywhere;
}

@media (orientation: landscape) {
  body {
    padding-inline: 3em;
  }
}

figure {
  margin: auto;
}

em {
  font-size: 2em;
  font-style: inherit;
}

p {
  line-height: 1.5;
}

strong {
  font-size: 3em;
}

:link {
  display: inline-block;
  padding: .5ex;
  text-shadow:
    0 -1ex 2ex hotpink,
    0 1ex 1ex lime;
}

@supports (--custom: 1) {
  ::selection {
    color: var(--dew-oil);
    background: var(--dew-ink);
  }
}
