html {
  font-family: monospace;
  font-size: max(1em, 1ch + 1vw + 1vh);
}

body {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  line-height: 1.618;
  margin: auto;
  max-width: 100%;
  overflow-wrap: anywhere;
  padding: 0 2em;
}

header {
  display: flow-root;
}

h1 { font-size: 2.618em }
h2 { font-size: 1.618em }
li { margin-block: 1em }

menu {
  contain: layout;
  list-style: none;
  line-height: 2.618;
}

:any-link {
  border-radius: 3ch 2ch;
  box-sizing: border-box;
  display: inline-block;
  padding: 1em 1ch;
  text-decoration-style: solid;
  text-decoration-thickness: .2rem;
}

:focus {
  outline: .3rem dotted;
  text-decoration-style: dotted;
}

:any-link:hover {
  text-decoration-style: double;
}

:active {
  text-decoration-style: double;
}

.tide {
  contain: layout;
  display: block;
  margin-block: 1em;
  margin-inline: 0 auto;
  max-width: 20em;
}

.wave {
  contain: layout;
  font-size: 1.236em;
}

.wave > a {
  display: table;
  display: inline-flex;
  margin-bottom: 1em;
  padding: 3ch 1em;
}

.boost {
  text-shadow:
    0 -3vh 1ch,
    0 -2vh 0,
    0 -1vh 0;
}

.blab { font-size: 1em }
.blob { font-size: 1.618em }
.claw { padding: 0 }
.bold { font-weight: bold }
.fizz { padding-inline: 2em }
.fart { float: inline-start }
.raft { float: inline-end }
