:root {
  font-family: monospace;
  font-size: max(1em, 1ch + 1vw + 1vh);
}

.blab { font-size: 1em }
.blob { font-size: 1.618em }

a {
  text-decoration-style: dotted;
  text-decoration-thickness: .5ex;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  line-height: 1.618;
  margin: auto;
  max-width: 100%;
  overflow-wrap: anywhere;
  padding: 0 2em;
}

h1 { font-size: 2.618em }
h2 { font-size: 1.618em }
li { margin-block: 1em }

menu {
  contain: layout;
  list-style: none ;
  line-height: 2.618;
}

.tide {
  display: block;
  margin-block: 2ex;
  margin-inline: 0 auto;
  max-width: 20em;
}

.wave {
  contain: layout;
}

.wave > a {
  display: table;
  margin-block: 1ch;
  padding: 1ch;
}

.boost {
  text-shadow:
    0 -3vh 1ch,
    0 -2vh 0,
    0 -1vh 0;
}

:link {
  box-sizing: border-box;
  border-radius: 2ex 3ex;
  display: inline-block;
  padding: 1ex;
}

:hover { text-decoration-style: solid }
:focus { outline: thick dotted }
.claw { padding: 0 }
.bold { font-weight: bold }
.fizz { padding-inline: 2em }
